@model ICollection<BillSlicer.Models.Product>

@{
    ViewBag.Title = "Add to receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddTo</h2>

<p>
    @Html.ActionLink("Create New", "Add", "Products")
</p>


@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <table class="table" id="product-table">
        <tr>
            <th>Product name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        @foreach (var receipt in Model) {
        <tr>
            @Html.Hidden(receipt.ID.ToString())
            <td>
                @Html.DisplayText(receipt.Name)
            </td>
            <td>
                @Html.DisplayText(receipt.Price.ToString())
            </td>
            <td>
                @Html.DisplayText(receipt.Description)
            </td>
            
            <td>
                @*@@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
        }
        <tr id="new-row">
            <td>
                <input type="text" onchange=""/>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <input class ="btn" value="save"/>
            </td>
        </tr>
    </table>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}

   
