@model ICollection<BillSlicer.Models.Product>

@{
    ViewBag.Title = "Add to receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddTo</h2>

<p>
    @Html.ActionLink("Create New", "Add", "Products")
</p>


@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <th>Product name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Include</th>
        </tr>
        @foreach (var receipt in Model) {
        <tr>
            @Html.HiddenFor(x => receipt.ID)
            <td>
                @Html.DisplayTextFor(x => receipt.Name)
            </td>
            <td>
                @Html.DisplayTextFor(x => receipt.Price)
            </td>
            <td>
                @Html.DisplayTextFor(x => receipt.Description)
            </td>
            
            <td>
                @*@@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
        }
    </table>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}

   
